* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 24px 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: #F9FAF8;
  font-weight: 1000;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 28px;
}

a {
  text-decoration: none;
}

a,
.description {
  font-size: 24px;
  color: #E5E7EB;
}

.main {
  display: flex;
  padding: 140px 0;
  gap: 64px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 4px;
}

.hero {
  font-size: 60px;
  color: #F9FAF8;
  font-weight: 900;
}

button {
  width: 160px;
  height: 44px;
  flex: 0 0 auto;
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
}

.grid {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #1F2937;
  font-weight: 900;
  padding: 60px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 0 440px;
  margin-bottom: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration {
  border: 5px solid #3882F6;
  width: 210px;
  height: 210px;
  border-radius: 20px;
}

.subtext {
  text-align: center;
  width: 200px;
  margin-top: 8px;
  font-size: 22px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 160px 430px;
}

.quote-text {
  font-size: 48px;
  font-style: italic;
  color: #1F2937;
  font-weight: 300;
}

.author {
  font-size: 30px;
  color: #1F2937;
  font-weight: 900;
  text-align: right;
  margin-right: 48px;
}

.callout-container {
  background-color: #3882F6;
  display: flex;
  margin: 130px 300px;
  padding: 68px 150px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.callout-title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.callout-subtext {
  font-size: 24px;
  color: white;
  font-weight: 300;
}

.callout-container button {
  width: 160px;
  height: 48px;
  border: 3px solid white;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  padding: 50px 0px;
}
