* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 24px 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  color: #F9FAF8;
  font-weight: 1000;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 28px;
}

a {
  text-decoration: none;
}

a,
.description {
  font-size: 24px;
  color: #E5E7EB;
}

.main {
  display: flex;
  padding: 140px 0;
  gap: 64px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 4px;
}

.hero {
  font-size: 60px;
  color: #F9FAF8;
  font-weight: 900;
}

button {
  width: 160px;
  height: 44px;
  flex: 0 0 auto;
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
}
