* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

.main {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}
